.main-chat
  .main-header
    .main-header__test 
      = @group.name
      %p.main-header__test__member
        Member:
        - @group.users.each do |user|
          = user.name
    .main-header__edit 
      = link_to ' Edit',edit_group_path(@group), class: 'btn'
  .main-contents
    = render @messages
  
  .form
    .massage-box
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'massage-box__text', placeholder: 'type a message'
      .massage-box__mask
        = f.label :image, class: 'massage-box__mask__image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'massage-box__mask__file'
      = f.submit 'Send', class: 'submit-btn'